<%= form_with(model: [ post, post.comments.build ], remote: true) do |form| %>
	<div class="form-group">
        <%= form.hidden_field :user_id, value: current_user.id %>
		<%= form.hidden_field :post_id, value: post.id %>
        <%= form.text_area :content %>
        <%= form.submit %>
    </div>
<% end %>