<div class="user">
    <%= link_to user_path(post.user) do %>
        <div class="avatar">
	        <% if post.user.avatar.attached? %>
                <%= image_tag post.user.avatar %>
            <% else%>
		        <img src="https://static.thenounproject.com/png/17241-200.png" alt="">
	        <% end %>
	    </div>
        <span>
            <%= link_to post.user.username, user_path(post.user), class: 'username' %>
        </span>
    <% end %>
  </div>