<div class="homepage">
	<% if user_signed_in? %>
		<div class='form-upload'>
			<%= render 'upload_form' %>
		</div>
		<div class="posts">
			<% @posts.each do |post| %>
				<%# per post %>
				<%= link_to post_path(post) do %>
					<%= render 'post', post: post %>
				<% end %>
				<%# end per post %>
			<% end %>
			<%= paginate @posts %>
		</div>
	<% else %>
	    <a href="<%= new_user_session_path%>">
	        <i class="fa fa-sign-in"></i>
	    </a>
	<% end %>
</div>






